/* Inicio = index */

/* Header */
.bg-light {
    background-color: black !important;
}

.navbar-toggler-icon {
    width: 33px;
    height: 33px;
    background-color: #CA054D;
    border: 1px solid #CA054D;
    border-radius: 5px;
}

.nav-link.active {
    color: white !important;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

/* Animacion */
.nav-link.active:hover {
    color: #CA054D !important;
}

.logo_header {
    height: 9vh;
}

/* Contenido  */

/* Bloque de cuidado de la piel */
.bloque_cuidado_piel {
    display: flex;
    flex-direction: column;
}

.bloque_cuidado_piel img {
    margin: 0px 0px 10px 0px;
    padding: 0px;
}


.texto_bloque_cuidado_piel {
    border: 1px #d4c9cd solid;
    border-radius: 12px;
    padding: 2px;
    background-color: #d4c9cd;
}

.lista_cuidado_piel {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

}

.lista_cuidado_piel li p {
    border: 1px #d4c9cd solid;
    border-radius: 12px;
    background-color: #d4c9cd;
}

/* Bloque de datos  */

.bloque_datos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.dato {
    margin: 10px 0px 10px 0px;
}

/* Animacion */
.dato:hover {
    box-shadow: 11px 15px 5px 0px rgb(0 0 0 / 16%);
}

/* Bloque quienes somos */

.bloque_quienes_somos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link_quienes_somos {
    text-decoration: none;
    color: white;
    background-color: #CA054D;
    border: 1px #CA054D solid;
    border-radius: 10px;
    padding: 5px;
}

.link_quienes_somos:hover {
    color: black;
    transform: scale(1.1);
    transition: 0.3s;
}


.bloque_quienes_somos img {
    padding: 0px;
}

.bloque_quienes_somos img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* Bloque productos */
.bloque_productos {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #CA054D, #ff006c);
    border-radius: 10px;
}

.titulo_productos {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5px;
    color: white;
    font-size: 30px;
}

.bloque_productos div {
    margin: 10px 0px 10px 0px;
}

.link_producto {
    background-color: #CA054D;
    border-color: #CA054D;
}

/* Animacion */
.link_producto:hover {
    border-color: #CA054D;
    background-color: #CA054D;
    color: black;
    transform: scale(1.1);
    transition: 0.3s;
}

.link_producto:focus {
    border-color: #CA054D;
    background-color: #CA054D;
}

/* Animacion */
.card_producto:hover {
    box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
}

/* Footer */
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.logo_footer {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
}

.footer ul {
    margin: 5px 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.footer ul li {
    margin: 0px 10px;
}

.logo_red_social {
    width: 35px;
    height: 40px;
}

.link_volver_arriba {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: white;
    border: 1px white solid;
    padding: 5px;

}

/* Animacion */
.link_volver_arriba:hover {
    border-color: #CA054D;
    color: #CA054D;
}

.footer p {
    color: white;
}

/* MediaQuerys */
/* Estrategia : Mobile First */

/* Dispositivos medianos (desktop) */
@media(min-width: 768px) {
    .me-auto {
        margin-right: 0px !important;
    }

    .navbar-collapse {
        justify-content: flex-end;
    }

    /* Bloque cuidado de la piel */

    .lista_cuidado_piel {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .lista_cuidado_piel li {
        text-align: center;
        width: 25%;
        height: 360px;
    }

    .lista_cuidado_piel h2 {
        margin: 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 85px;
    }

    .lista_cuidado_piel li p {
        padding: 3px;
        display: flex;
        height: 240px;
        align-items: center;
    }

    /* Bloque de datos  */

    .bloque_datos {
        flex-direction: row;
        justify-content: space-between;
    }

    .dato {
        margin: 10px 10px;
    }

    /* Bloque quienes somos */

    .bloque_quienes_somos {
        flex-direction: row;
        justify-content: space-between;
    }

    .bloque_quienes_somos .card {
        margin: 10px;
        width: 40%;
        height: 43vh;
    }

    .bloque_quienes_somos .card .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .link_quienes_somos {
        text-decoration: none;
        color: white;
        background-color: #CA054D;
        border: 1px #CA054D solid;
        border-radius: 10px;
        padding: 5px;
    }


    .bloque_quienes_somos img {
        margin: 10px;
        width: 50%;
        height: 43vh;
    }

    /* Bloque productos */
    .cards_productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .cards_productos div {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .cards_productos img {
        height: 30vh;
    }
}

/* NOSOTROS */

.bloque_1_nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-image: linear-gradient(to bottom, #CA054D, #ff006c);
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
}

.bloque_2_nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-image: linear-gradient(to bottom, #CA054D, #ff006c);
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
}

.nosotros_card {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nosotros_card:hover {
    box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
}

.nosotros_card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.imagen_nosotros {
    padding: 0px;
}

.imagen_nosotros:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* Bloque Fundadoras */

.bloque_fundadoras {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_fundadoras {
    font-family: 'Courier New', Courier, monospace;
    font-size: 8vh;
}

.fundadora {
    margin-top: 10px;
}

.fundadora:hover {
    box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
}

/* MediaQuerys */
/* Estrategia : Mobile First */

/* Dispositivos medianos (desktop) */
@media(min-width: 768px) {
    /* NOSOTROS */

    .bloque_1_nosotros {
        flex-direction: row;
        justify-content: space-between;

    }

    .bloque_2_nosotros {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .nosotros_card {
        margin: 10px;
        width: 40%;
        height: 45vh;
    }

    .imagen_nosotros {
        width: 50%;
        height: 45vh;
        margin: 10px;
    }

    /* Bloque Fundadoras */

    .cards_fundadoras {
        display: flex;
        flex-direction: row;
        margin: 10px;
        justify-content: space-between;
    }

    .fundadora {
        width: 40%;
    }
}

/* Productos */
.contenedor_productos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtro_producto {
    padding: 2%;
    width: 80%;
    text-align: center;
    border: 1px whitesmoke solid;
    border-radius: 12px;
    background-color: whitesmoke;
}

.titulo_filtro {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vh;
}

.filtro {
    display: flex;
    justify-content: space-evenly;
}

.filtro button {
    background-color: #CA054D;
    border: 1px #CA054D solid;
    color: white;
    --bs-btn-active-color:
}

.filtro button:hover {
    background-color: #CA054D;
    border: 1px #CA054D solid;
}

.filtro button:focus {
    background-color: #CA054D;
    border: 1px #CA054D solid;
}

.barra_filtro {
    display: none;
}

.productos {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_card {
    width: 70%;
    margin: 10px;
}

.product_card:hover {
    box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);
}

/* MediaQuerys */
/* Estrategia : Mobile First */

/* Dispositivos medianos (desktop) */
@media(min-width: 768px) {

    /* Productos */
    .contenedor_productos {
        flex-direction: row;
        align-items: flex-start;
    }

    .filtro_producto {
        display: none;
    }

    .barra_filtro {
        display: flex;
        flex-direction: column;
        margin: 10px 0px 0px 1rem;
        background-color: whitesmoke;
        border-radius: 10px;
        width: 21rem;
        height: 100%;
        padding: 2%;
    }

    .barra_filtro h5 {
        font-size: 150%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #CA054D;
    }

    .barra_filtro ul {
        list-style: none;
        margin: 10px 0px 5px 0px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .barra_filtro li {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .barra_filtro a {
        text-decoration: none;
        color: rgb(51, 49, 49);
    }

    .productos {
        margin-top: 0px;
        width: 60%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .product_card {
        width: 15rem;
    }

}

/* Marcas */
.bloque_marcas {
    background-image: linear-gradient(to bottom, #35ca74, #22a884);
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-decoration: underline;
    font-size: 8vh;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.bloque_marcas img {
    width: 85%;
    height: 45vh;
    background-color: white;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bloque_marcas img:hover {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 10px 15px 5px 0px rgba(0, 0, 0, 0.39);

}

.bloque_reseñas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.bloque_reseñas iframe {
    width: 90%;
    height: 40vh;
    margin: 10px 0px;
    border-radius: 10px;
}

/* MediaQuerys */
/* Estrategia : Mobile First */

/* Dispositivos medianos (desktop) */
@media(min-width: 768px) {

    /* Marcas */
    .bloque_marcas {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    h2 {
        font-size: 6vh;
    }

    .bloque_marcas img {
        width: 35%;
        height: 40vh;
    }

    .bloque_reseñas iframe {
        width: 40%;
    }
}